Insurance_project_adf_adb/adf_ingestion/Ingestion_Claim.json
{
	"name": "Ingestion_Claim",
	"properties": {
		"activities": [
			{
				"name": "Lookup HW table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select lastmodified from Highwatermark\nwhere name='claim';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericDS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "Highwatermark"
						}
					}
				}
			},
			{
				"name": "Get last_modified db",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup HW table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LastUpdatedTimeStamp) as LastUpdatedTimeStamp from claim;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericDS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "agent"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get last_modified db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.claim where LastUpdatedTimeStamp > '@{activity('Lookup HW table').output.firstRow.lastmodified}' and \nLastUpdatedTimeStamp <= '@{activity('Get last_modified db').output.firstRow.LastUpdatedTimeStamp}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlGenericDS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "claim"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet_claim_adls",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "hw update",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select 'Claim' as name, '@{activity('Get last_modified db').output.firstRow.LastUpdatedTimeStamp}' as lastmodified",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"name"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlGenericDS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "claim"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlGenericDS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "Highwatermark"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-27T18:08:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}